html
{
	scroll-behavior: smooth;
}

.bg
{
	background-image:url("image/background2.jpg");
	width:100%;
	 height:700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.nav-item
{
	margin-right:20px;
}
#nav
{
	background:rgba(0,0,0,0);
}
#collapsibleNavbar ul li a
{
	color: white;
}
#caption1
{
	text-align:center;
	width:390px;
	height:35px;
	margin:auto;
	margin-top:15%;
	color:white;
	background-color: black;
	border-radius:15px;
	 -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 7s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 7s;
		
}
#table
{
	margin:auto;
	text-align:center;
	width:110px;
	height:30px;
	background-color:rgba(255,255,255,0.1);
	border:1px solid white;
	color:white;
	 -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 7s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 7s;
}
#table h6
{
	
	color:white;
	
}
#table  a
{
	text-decoration:none;
}
@media only screen and (max-width: 768px) {
 .bg  {
    background-image:url("image/background2.jpg");
	width:100%;
	 height:500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@-webkit-keyframes example {
  from {opacity:0}
  to {opacity:1}
}
#aboutus
{
	background-color:whitesmoke;
}
#recipe
{
	background-color:snow;
}
li 
{
	list-style-type:none;
}
#foodmenu 
{
	border-radius:20px;
	color:white;
	width:150px;
	height:50px;
	background-color: gold;
}
#Services
{
	border-radius:20px;
	color:white;
	width:150px;
	height:50px;
	background-color: gold;
}
#footer
{
	color:white;
	background-color: rgba(25,25,25,1.00);
}
#subscribe
{
	border:none;
	background-color:white;
}