
html
{
	scroll-behavior: smooth;
}
.navbar a
{
	font-family:verdana;
	color:black;
}
#collapsibleNavbar ul li a
{
	font-family:verdana;
	color:black;;
	text-decoration:none;
	margin-right:30px;
}
#home{
	background-image:url("image/background 1.png");
	width:100%;
	height:500px;
	background-size:cover;
}
#home .name
{
 
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	color:black;
	padding-top:200px;
	font-size:50px;
	opacity:1;
}

#work
{
	color:black;
	font-size:25px;
	font-weight:2000px;
	margin-top:-20px;
	margin-left:200px;
	
}
.me
{
	margin-top:100px;
	
}
#about1{
	color:gray;
	font-weight:bold;
}
#gd
{
	color:grey;
}
#wdd
{
	color:grey;
}
#footer 
{
	color:white;
	background-color:black;
}
#footer a
{
	color:White;
}